body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */
.header {
    width: 100%;
    height: 72px;
    background: #344563;
    display: flex;
    position: fixed;
}

.logo-img {
    margin-left: 100px;
    margin-top: 12px;
}

/* content */

.food {
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    border: #000 1px solid;

}

.food-information {
    display: inline-block;
    margin-left: 10px;
}



.feedback {
    position: fixed;
    right: 100px;
    bottom: 100px;

}





/* footer */

footer {
    margin-top: 291px;
    width: 100%;
    height: 72px;
    background: #344563;
}

.user {
    background-color: #fff;
    margin: 17px 0 0 70%;
    border-radius: 10px;
    width: 10%;
    height: 45px;
    position: relative;
    cursor: pointer;
}

.user-name {
    position: absolute;
    top: 3px;
    left: 49px;
    font-size: 13px;
}

.user-email {
    position: absolute;
    top: 20px;
    font-size: 12px;
    color: #ccc;
    left: 48px;
}

.user-avt {
    margin-top: 5px;
    margin-left: 6px;
}

.title{
text-transform: uppercase;
}
.modal-body{
    padding: 3rem !important;
}
input{
    border: 1px solid #000;
    border-radius: 4px;
}
.modal-body .modal-input{
width: 345px;
}
.modal-body .modal-btnClose{
    width: 130px;
    margin-left: 35px;
}
.modal-body .modal-btnSeen{
    width: 130px;
    margin-left: 55px;
}


.login{
    position: relative;
}

.form-login{
    position: absolute;
    left: 30%;
}






   
/* feedback-list */
.menu {
    top: 72px;
    height: 100%;
    position: fixed;
    width: 350px;
    background-color: rgba(0, 100, 0, 0.433);
    z-index: -1;
}

.logo a {
    padding: 15px 25px;
    font-size: 40px;
    color: white;
}

ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    transition: 0.3s;
    padding-left: 25px;
}

ul li:hover {
    padding-left: 35px;
    background-color: #4456652c;
    border-right: 10px solid green;
}

ul li a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.text-center{
    font-weight: bold;
}

/* content */
.table-feedback-list{
    right: 100px;
}

nav{z-index: 1000;}