body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */
.header {
    width: 100%;
    height: 72px;
    background: #344563;
    display: flex;
    position: fixed;
}

/* content */

.food {
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    border: #ced4da 1px solid !important;

}

.food-information {
    display: inline-block;
    margin-left: 10px;
}



.feedback {
    position: fixed;
    right: 100px;
    bottom: 100px;

}

a.status-feedback {
    color: yellowgreen;
}

/* footer */

footer {
    width: 100%;
    height: 40px;
    background: #344563;
    position: fixed;
    bottom: 0;
}

.user {
    background-color: #fff;
    margin: 17px 0 0 70%;
    border-radius: 10px;
    width: 10%;
    height: 45px;
    position: relative;
    cursor: pointer;
}

.user-name {
    position: absolute;
    top: 3px;
    left: 49px;
    font-size: 13px;
}

.user-email {
    position: absolute;
    top: 20px;
    font-size: 12px;
    color: #ccc;
    left: 48px;
}

.user-avt {
    margin-top: 5px;
    margin-left: 6px;
}

.title {
    text-transform: uppercase;
}

.modal-body {
    padding: 3rem !important;
}

input,select {
    border: 1px solid #ced4da !important;
    border-radius: 4px;
    width: 100%;
}

button.btn.btn-primary {
    float: left;
    width: 115px;
}

.modal-body .modal-input {
    width: 345px;
}

.modal-body .modal-btnClose {
    width: 130px;
    margin-left: 35px;
}

.modal-body .modal-btnSeen {
    width: 130px;
    margin-left: 55px;
}








/* feedback-list */
.menu {
    top: 72px;
    height: 100%;
    position: fixed;
    width: 350px;
    background-color: rgba(0, 100, 0, 0.3);
}

.logo a {
    padding: 15px 25px;
    font-size: 40px;
    color: white;
}

ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    transition: 0.3s;
    padding-left: 25px;
}

ul li:hover {
    padding-left: 35px;
    background-color: #4456652c;
    border-right: 7px solid rgba(255, 0, 0, 0.549);
}

ul li a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.text-center {
    font-weight: bold;
}

/* content */
.table-feedback-list {
    right: 100px;
}



/* LOGIN */
.login-container {
    background-image: url("./netflix_login_bgr.jpg");
    background-size: cover;
    height: 900px;
    position: relative;
    width: 100%;
}

.login-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.login-header,.header-logo{
    padding-top: 20px;
    padding-left: 44px;
    position: absolute;
    top: -15px;
    left: 160px;
    z-index: 1;
}

.login-header a , .header-logo a{
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #E50914;
}
.header-logo a:hover{
    color: #E50914;
    text-decoration: none;
}

.login-body {
    width: 448px;
    height: 435px;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 180px;
    border-radius: 5px;
    z-index: 1;
}

.login-form-header {
    font-size: 3.2rem;
    font-weight: 700px;
    color: #fff;
}

.login-form-container {
    padding: 60px 70px 0;
}

.login-form-input {
    width: 100%;
    height: 50px;
    margin-top: 16px;
    padding: 0 16px;
    color: #fff;
    font-size: 1.6rem;
    background-color: #333333;
    border: 1px solid #333333;
    border-radius: 4px;
    outline: none;
}

.login-form-input:focus {
    border-bottom: 3px solid #eeaf67;
}

.login-form-input:first-child {
    margin-top: 30px;
}

.login-form-button {
    color: #fff;
    background-color: #e50914;
    width: 100%;
    font-size: 1.6rem;
    padding: 16px;
    border-radius: 4px;
    border: 0px;
    margin: 40px 0 14px;
    font-weight: 700;
}



/* USER-PASSWORD */
.form-password {
    display: block;
}

table.table.table-bordered.border-success.table-striped {
    text-align: center;
}

nav{z-index: 1000;}

.text-center{
    font-weight: bold;
}
.test{
    border: none;
    border-bottom: 1px solid #ccc;
}

/* reply feedback */

textarea#recipient-name{
    border: none;
}
.form-reply{
    border: #ced4da 1px solid;
    padding: 10px;
}

.sender,
.reply-tile {
    display: inline-block;
}

.sender-time {
    margin-left: 87%;
}

.sender-content {
    border: 1px #ced4da solid;
    border-radius: 10px;
    padding: 20px;
}








.user-current {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    max-width: 170px;
    margin: 0 0 0 27px;
    cursor: pointer;
    margin-left: 85%;
  }
  
  .user-current img {
    border-radius: 50%;
    flex: 0 0 32px;
    max-width: 32px;
    height: 32px;
  }
  
  .user-inr{
    margin-top: 12px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #ccc;
    display: flex;
  }
  .user-info {
    flex: 0 0 calc(100% - 40px);
    max-width: calc(100% - 40px);
    margin-left: 5px;
  }
  
  p.name {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  p.position {
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }