body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */
.header {
    width: 100%;
    height: 72px;
    background: #344563;
    display: inline-flex;
}

.logo-img {
    margin-left: 100px;
    margin-top: 12px;
}

/* content */

.food {
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    border: #000 1px solid;

}

.food-information {
    display: inline-block;
    margin-left: 10px;
}



.feedback {
    position: fixed;
    right: 100px;
    bottom: 100px;

}





/* footer */

footer {
    margin-top: 291px;
    width: 100%;
    height: 72px;
    background: #344563;
}

.user {
    background-color: #fff;
    margin: 17px 0 0 70%;
    border-radius: 10px;
    width: 10%;
    height: 45px;
    position: relative;
    cursor: pointer;
}

.user-name {
    position: absolute;
    top: 3px;
    left: 49px;
    font-size: 13px;
}

.user-email {
    position: absolute;
    top: 20px;
    font-size: 12px;
    color: #ccc;
    left: 48px;
}

.user-avt {
    margin-top: 5px;
    margin-left: 6px;
}




/* content */
.form-phanHoi {
    width: 445px;
    padding: 20px;
    margin-left: 34%;
    border: #000 2px solid;
}

.form-phanHoi input {
    width: 400px;
}

.form-phanHoi .form-title {
    border-bottom: 2px #000 solid;
}



